/* Stylizing for product card */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 400px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    border-radius: 5px;
    background-color: white;

}

.product-image {
    height: 100px;
    width: 100px;
}